*,
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}
.main_div{
    width: 100vw;
    height: 100vh;
    background-color: rgb(49, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}
.music_container{
    width: 35rem;
    height: 55rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 3rem;
    text-align: center;
}
.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: black;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-wrap: nowrap;
}
.music_container #artist{
    color: #a5a2a2;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 500;
}
.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    margin: auto;
}
.img_container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4);
}
.music_controls{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 3rem;
}
.music_controls .fa-solid{
    color: black;
    font-size: 3rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
}


.anime{
    animation: rotatePlayer 4s linear infinite  ;
}

@keyframes rotatePlayer{  
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}

.progressbar_container{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin-top: 1rem;
}
.progress_div{
    width: 100%;
    height: 0.5rem;
    border-radius: 4rem;
    position: relative;
    margin-top: 0.5rem;
    -webkit-transition: width 1s linear;
    transition: width 1s linear;
    -moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    cursor: pointer;
    appearance: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    background-color: #C8EBFC;
}
.progress{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 4rem;
    cursor: pointer;
    appearance: none;
}
.progress_duration_meter{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}